#######################################################
# environment variables for dicomedf services
#######################################################
## version
#DOCKER_IMAGE_TAG=latest

## docker registry endpoint
#DOCKER_REGISTRY=dccn

## ORTHANC version, defining the version of ORTHANC the `dicomdf-orthac` is based on
#ORTHANC_VERSION=1.4.2

## ORTHANC build, defining the build number of the `dicomdf-orthac`.
## The final `dicomdf-orthac` image will be tagged as `${ORTHANC_VERSION}-${ORTHANC_BUILD}`
#ORTHANC_BUILD=1

## version/release-tag of the tg-toolset-golang.
#TG_TOOLSET_TAG=1.9.0

## volume for Orthanc configurations, read-only bind mounted to /var/lib/orthanc/etc
#VOL_ORTHANC_CONFIG=./orthanc/config

## volume for Orthanc server log, bind mounted to /var/lib/orthanc/log 
#VOL_ORTHANC_LOG=vol-orthanc-log

## volume for Orthanc server data, bind mounted to /var/lib/orthanc/db
#VOL_ORTHANC_DB=vol-orthanc-db

## volume for Orthanc server data index, bind mounted to /var/lib/orthanc/idx
#VOL_ORTHANC_IDX=vol-orthanc-idx

## volume for DICOM worklist files, bind mounted to /data/wlbroker, shared by wlbroker and cal2wl
#VOL_WLBROKER=vol-wlbroker

## volume for cal2wl configurations, read-only bind mounted to /opt/config
#VOL_CAL2WL_CONFIG=./cal2wl/config
